@charset "utf-8";
/* CSS Document */



/*---------------------Recomendação---------------------------

Páginas otimizadas para uma variedade de dispositivos devem incluir uma tag meta viewport no cabeçalho do documento. Uma tag meta viewport instrui o navegador como controlar o tamanho e o dimensionamento da página.

Caso o tema escolhido não tenha por padrão definido você deve iserir  a meta tag:

<meta name="viewport" content="width=device-width, initial-scale=1">

em : 
/admin/category.php?category=appearance

na seção:
additionalhtmlhead

garantindo o ajuste para o estilo responsivo aqui configurado.



---------------------Recomendação---------------------------*/





/*---------------------Reset CSS---------------------------*/

html {
    width: initial!important;
}





admin .buttons:before, #fitem_id_submitbutton:before, .fp-content-center form + div:before, div.backup-section + form:before, 

#fgroup_id_buttonar:before, table#form td.submit:after, .form-buttons:after, .path-admin .buttons:after, #fitem_id_submitbutton:after, .fp-content-

center form + div:after, div.backup-section + form:after, #fgroup_id_buttonar:after {
    display: flex!important;
    content: none!important;
    line-height: 0!important;
}

.buttons, #fitem_id_submitbutton, .fp-content-center form + div, div.backup-section + form, #fgroup_id_buttonar {
    padding: inherit!important;
    margin: initial!important;
    background-color: inherit!important;
    border-top: inherit!important;
    padding-left: inherit!important;
	display:inherit!important;
    line-height: inherit!important;
    text-align: inherit!important;
    vertical-align: inherit!important;
	
}

button {
    display: inline-block;
    background: inherit;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-align: center;
    transition:inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
	border-radius: inherit;
	-webkit-moz-border-radius: inherit;

}


/*---------------------Fim do Reset CSS---------------------------*/





.pt-3, .py-3 {
    padding-top: inherit!important;
    /* border: solid 2px darkgreen; */
}


[role='main'] {
	/*border: solid 2px red;
	display: flex;
	flex-direction: column;*/
}

section.agrupar {
    /*border: solid 1px blue;*/
    width: 80%!important;
    margin: 0 auto!important;
}


div#idicontentpages {
	    /*border: solid 1px green;*/
	
}


/*------------Avançar e Voltar------------------*/


div#fgroup_id_buttonar button {
	display: inline-block!important;
    background: inherit!important;
    border: none!important;
    padding: 0!important;
    margin: 0!important;
    text-decoration: none!important;
    color: #ffffff!important;
    font-family: inherit!important;
    font-size: inherit!important;
    cursor: pointer!important;
    text-align: center!important;
    transition:inherit!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
	border-radius: inherit!important;
	-webkit-moz-border-radius: inherit!important;	

}






div#fgroup_id_buttonar {	 	
    width: 100%!important;
    position: relative!important;
    display: flex!important;
    justify-content: space-between!important;
	/*border: solid 1px green!important;*/
	margin: 0 auto!important;
    top: 390px!important;
	max-width: 990px;
    /*z-index: -99;*/
}


#fgroup_id_buttonar .btn-previous-page {
    display: inline-block!important;
    /*border: solid 1px red;*/
   	background-image: url("../pix/prev2.png")!important;/*--Observar o nome e extensão da imagem--*/
	text-indent: -900000px!important;
    height: 70px!important;
    background-size: 135px!important;
    background-repeat: no-repeat!important;
    background-position: 3px!important;
    min-width: 40px!important;
    
}

#fgroup_id_buttonar  .btn-previous-page:focus{
      outline: none!important;
}


#fgroup_id_buttonar  .btn-previous-page:hover {
    background-position: -97px!important;	
	background-color: inherit!important;
}
 


#fgroup_id_buttonar .btn-next-page {
    /*border: solid 1px blue!important;*/
    background-image: url("../pix/next2.png")!important;/*--Observar o nome e extensão da imagem--*/ 
    text-indent: -900000px!important;
    height: 70px!important;
    -webkit-background-size: 135px!important;
    background-size: 135px!important;
    background-repeat: no-repeat!important;
    background-position: 0px!important;
    min-width: 40px!important;
	width: 40px!important;
    
}

#fgroup_id_buttonar .btn-next-page:focus{
      outline: none!important;
}
#fgroup_id_buttonar .btn-next-page:hover {
	background-position: -45px!important;
	background-color: inherit!important;
}

/*------------Fim de Avançar e Voltar------------------*/


/*-------------------------------- Conteúdo-----------------------------*/

.page-layout {
    top: 130px
}

div#idicontentpages {
	/*display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 960px;
	height: 650px;*/
}

/*----------------------------------mancha gráfica total----------*/

.path-mod-icontent .icontent-page .fulltextpage p {
    font-family: verdana;
    font-size: 0.9em;
    text-indent: 1.5em;
    line-height: 1.7em;
    color: #555;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
	/* border: solid 1px red; */
}

#cor_padrao {
    display: inline-grid;
    /* border: solid 1px yellow; */
}



#cor_padrao p {
  /*  border: solid 1px green; */
    color: #fff;
    text-shadow: none;
	z-index: 998;
	
}

.fulltextpage {
    float: none!important;
    background-size: contain!important;
    background-repeat-y: no-repeat!important;
}


.path-mod-icontent .icontent-page .fulltextpage {
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 1.8em;
    word-spacing: .3px;
    padding: 16px 42px;
    z-index: 99;
    background-repeat-x: no-repeat;
    background-size: 990px;
    background-position: center!important;
    background-repeat-y: repeat!important;
    height: 665px;
    max-width: 990px;
    box-shadow: 6px 7px 19px #ccc;
}






/*----Páginas de Capa-----*/

/*Serve para forçar o scroll quando o botão leia mais for clicado*/
/*.path-mod-icontent .contentcoverpage {
    overflow: scroll;
    max-height: 358px;
}*/

.coverpage {
    float: none!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}



.fulltextpage.coverpage h1, .fulltextpage.coverpage h2, .fulltextpage.coverpage h3, .fulltextpage.coverpage h4, .fulltextpage.coverpage h5, .fulltextpage.coverpage h6 {
/*border: solid 1px red;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-top: 0;
	margin: 0 auto;
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}
.fulltextpage.coverpage p {
/*border: solid 1px blue;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-top: 0;
    font-weight: 300;
    line-height: 1.2;
    color: inherit;
}




.contentcoverpage p.read-more-wrap {
	position: relative;
    max-height: 290px;
    overflow: auto;
	z-index: 998;

}
/*Serve para elevar o botão leia mais*/
.state-readmore {
    position: relative;
    z-index: 996;
}




/*----Fim de Páginas de Capa-----*/

/*----título do slide-----*/
.path-mod-icontent .icontent-page .fulltextpage h3.pagetitle {
    font-family: roboto light;
    font-size: 25px!important;
    background-color: rgba(17,119,209,.5);
    color: #fff;
    padding-top: 0.5em;
    padding-left: 1.0em;
    max-height: 83px;
    clear: both;
    overflow: hidden;
}
.path-mod-icontent .icontent-page .fulltextpage .toolbarpage {
    z-index: 999;
    padding: 0 1.5em 0.8em;
}

.toolbarpage .icon {
    position: relative;
    color: rgba(17,119,209,.5);
    top: 15px;
}
.toolbarpage .icon:hover {
    color: #0070a8;
}




/*----fim do título do slide-----*/

/*----Numeração da página----*/

.path-mod-icontent .icontent-page .pagenum {
   /* position: relative;
    text-align: right;
    top: 5px;*/
	top:520px;
    z-index: 998;
	
}


.path-mod-icontent .icontent-page .pagenum span {
    position: relative;
    margin-right: -17px;
    border: none;
    padding: 10px 70px;
    font-weight: 700;
    font-size: 12px;
    background-color: rgba(17,119,209,.5);
    color: #fff;
    top: 80px;
}

/*----Fim da Numeração da página----*/

/*----Navegação pelas páginas----*/


.path-mod-icontent .full-paging-buttonbar {
    text-align: center!important;
    position: relative!important;
    margin: 0 auto!important;
    z-index: 997!important;
    max-width: 44%!important;
    /*border: solid 1px red;*/
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: center!important;
    align-items: center!important;
}


/*div#idicontentbuttonbar [title="Página anterior"] */
.full-paging-buttonbar button.load-page.btn-previous-page{
    /*border: solid 1px yellow!important;*/
    position: absolute!important;
	background: rgba(17,119,209,.5)!important;
    min-height: 100%!important;
	min-width: 72px!important;
    left: -75px!important;
    padding: .5em!important;
	margin: 0 -0.5em!important;
}
.full-paging-buttonbar button.load-page.btn-previous-page:hover {
    background: rgba(91,192,222,.5)!important;
}


/*div#idicontentbuttonbar [title="Próxima página"]*/ 
.full-paging-buttonbar button.load-page.btn-next-page{
    /*border: solid 1px yellow!important;*/
    position: absolute!important;
    background: rgba(17,119,209,.5)!important;
    min-height: 100%!important;
	min-width: 72px!important;
    right: -77px!important;
    padding: .5em!important;
}
.full-paging-buttonbar button.load-page.btn-next-page:hover {
    background: rgba(91,192,222,.5)!important;
}


 button.load-page.btn-icontent-page {
    /*border: solid 1px lightblue!important;*/
    margin-right: 3px!important;
    background-color: rgba(17,119,209,.5)!important;
    padding: .2em!important;
    color: #fff!important;
    min-width: 1.8em!important;
    min-height: 2em!important;
    margin-top: .4em!important;
}

icontent-buttonbar button {
	margin-right: 0px!important;
	background-color: rgba(17,119,209,.5)!important;
	border: none!important;
    padding: 0.5em!important;
    color: #fff!important;
}


.path-mod-icontent .full-paging-buttonbar .active {
    background-color: rgba(55,58,60,.5)!important;
    color: #fff!important;
    font-weight: bolder!important;
    text-shadow: 3px 1px 2px #999!important;
    padding: 0.4em 0.2em!important;
}

/*----Fim de Navegação pelas páginas----*/


/*----Área de Perguntas----*/

:target {
    padding-top: 45px!important;  
}


.path-mod-icontent .notesarea .titlenotes {
    max-width: 300px!important;
}

h4#idtitlenotes {
    font-family: sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-weight: bold;
    color: #fff;
    padding-left: 2.5em;
    text-indent: -5px;
}


div#idnotesarea {
    position: absolute;
    max-width: 50%;
    z-index: 998;
}

.path-mod-icontent .questionsarea .titlequestions:hover, .path-mod-icontent .notesarea .titlenotes:hover {
    color: #000;
    border-bottom: 1px solid #aaa;
    background-color: #5cb85c;
}


.path-mod-icontent .notesarea .titlenotes {
   /* background-color: #5bc0de; */
	background-color: rgba(17,119,209,.5);
       
}





div#idfulltab {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -10px;
    /* border: solid 1px orange; */
    background-color: #f5f5f5;
    z-index: 9999;
    padding: 1.1em;
    border-radius: 0 20px 20px 20px;
	width: 550px;
	box-shadow: 1px 2px 6px #ccc;
}

div#idtabicontent {
    position: relative;
    display: flex;
    flex-flow: column;
    /* border: solid 1px #bbb; */
    padding: 0.5em;
    background-color: #e3e3e3;
    border-radius: 10px;
    top: -3px;
    width: 90%;
}

.col-md-1.userpicture {
    max-width: inherit!important;
}

textarea#idcommentnote, textarea#idcommentdoubt {
    min-width: 96%;
    max-width: 98%;
}

.notecomment {
    display: flex;
    flex-flow: column;
}

.replynotecomment {
    min-width: 60%;
    margin-left: 2.0em;
}

.buttonscomment {
   	/*border: solid 1px green;*/
	margin-left: 2.0em!important;
}
.buttonscomment button {
    color: #373a3c!important;
    padding: 0 0.5em!important;
    /* border: solid 1px #1177d1; */
}

.path-mod-icontent .icontent-page .notesarea .notelist .noterowicontent .notefooter a {
    cursor: pointer;
    padding-right: .8em;
}

.path-mod-icontent .icontent-page .notesarea .notelist .noterowicontent .notefooter .notedate, .path-mod-icontent .icontent-page .notesarea .notelist .noterowicontent .notefooter a {
    color: #0070a8;
    font-size: 12px;
}

.path-mod-icontent .icontent-page .notesarea .notelist .pagenoterow {
    margin-bottom: 25px;
    padding: 15px;
}

span.notedate.pull-right {
    position: relative;
    top: -8px;
}

em.noteon {
    padding: .8em;
}

.level-2 {
    background-color: #fdfdbd!important;
}

.level-3 {
    background-color: #f5e685!important;
}
.level-4 {
    background-color: #f5e685c2!important;
}





/*-----------------divisão em colunas-----------*/

.page-layout.columns-1, .page-layout.columns-2, .page-layout.columns-3, .page-layout.columns-4, .page-layout.columns-5 {
    /* position: relative!important; */
    /*min-height: 421px!important;
    max-height: 422px!important;*/
	height: 445px;
    overflow: auto!important;
    z-index: 998!important;
}

/*-------Para definir o título das colunas---------*/

.page-layout.columns-1 h3, .page-layout.columns-2 h3, .page-layout.columns-3 h3, .page-layout.columns-4 h3, .page-layout.columns-5 h3{
   -webkit-column-span: all;
	column-span: all;
	font-weight: bold;
	
}

.page-layout.columns-1 h4, .page-layout.columns-1 h5, .page-layout.columns-1 h6, .page-layout.columns-2 h4, .page-layout.columns-2 h5, .page-layout.columns-2 h6, .page-layout.columns-3 h4, .page-layout.columns-3 h5, .page-layout.columns-3 h6, .page-layout.columns-4 h4, .page-layout.columns-4 h5, .page-layout.columns-4 h6, .page-layout.columns-5 h4, .page-layout.columns-5 h5, .page-layout.columns-5 h6{
	
	/*border: solid 1px red;*/
	font-weight: bold;
}

.page-layout.columns-1 h1, .page-layout.columns-1 h2, .page-layout.columns-1 h3, .page-layout.columns-1 h4, .page-layout.columns-1 h5, .page-layout.columns-1 h6, .page-layout.columns-2 h1, .page-layout.columns-2 h2, .page-layout.columns-2 h3, .page-layout.columns-2 h4, .page-layout.columns-2 h5, .page-layout.columns-2 h6, .page-layout.columns-3 h1, .page-layout.columns-3 h2, .page-layout.columns-3 h3, .page-layout.columns-3 h4, .page-layout.columns-3 h5, .page-layout.columns-3 h6, .page-layout.columns-4 h1, .page-layout.columns-4 h2, .page-layout.columns-4 h3, .page-layout.columns-4 h4, .page-layout.columns-4 h5, .page-layout.columns-4 h6, .page-layout.columns-5 h1, .page-layout.columns-5 h2, .page-layout.columns-5 h3, .page-layout.columns-5 h4, .page-layout.columns-5 h5, .page-layout.columns-5 h6, .page-layout.columns-6 h1, .page-layout.columns-6 h2, .page-layout.columns-6 h3, .page-layout.columns-6 h4, .page-layout.columns-6 h5, .page-layout.columns-6 h6 {
	/*border: solid 1px green;*/
	 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     font-weight: 500;
     line-height: 1.2;
     color: inherit;
}



/*-----------------fim da divisão em colunas-----------*/





/*----------------- Alto Contraste----------*/

.highcontrast .cor_invertida {background-color: #333!important;
}

.highcontrast .headercoverpage.row {
    background: rgba(0,0,0,0.075)!important;
}
.highcontrast .contentcoverpage {
    background: rgba(0,0,0,0.075)!important;
}



.path-mod-icontent .icontent-page .highcontrast p, .path-mod-icontent .icontent-page .highcontrast b, .path-mod-icontent .icontent-page .highcontrast strong, .path-mod-icontent .icontent-page .highcontrast span, .path-mod-icontent .icontent-page .highcontrast {
    	text-decoration: none;
    	text-shadow: initial!important;
    	font-weight: initial!important;
		color: #bbb!important;
}



.fulltextpage.highcontrast {
    /* background-color: #d6be6b!important; */
    background-color: #373a3cd6!important;
}

.path-mod-icontent .icontent-page .highcontrast h1, .path-mod-icontent .icontent-page .highcontrast h2, .path-mod-icontent .icontent-page .highcontrast h3, .path-mod-icontent .icontent-page .highcontrast h4, .path-mod-icontent .icontent-page .highcontrast h5, .path-mod-icontent .icontent-page .highcontrast h6, .path-mod-icontent .icontent-page .highcontrast a, .path-mod-icontent .icontent-page .highcontrast a:active, .path-mod-icontent .icontent-page .highcontrast a:hover, .path-mod-icontent .icontent-page .highcontrast .nav-tabs>.active>a, .path-mod-icontent .icontent-page .highcontrast .nav-tabs>.active>a:hover, .path-mod-icontent .icontent-page .highcontrast .nav-tabs>.active>a:focus {
   	color: #46ccb4!important;
}


.fulltextpage .coverpage .highcontrast p {
color:#06d5f8!important

}



/*---------fim do Alto Contraste----------*/

/*-------------------------fim da mancha gráfica total----------*/






/*--------------------------------Fim do Conteúdo-----------------------------*/

.progress {
    display: flex;
    height: .6rem;
    overflow: hidden;
    font-size: .703125rem;
    background-color: #e9ecef;
}

.m-t-2, .m-y-2 {
    position: absolute;
    top: 1135px;
    text-align: center;
    display: block;
    width: 70%;
    margin: 0 auto!important;
    /*border: solid 1px pink;*/
    z-index: -1;
}

.progress .progress-bar .sr-only {
    position: relative;
    top: -6px;
}


/*************************mudar barra de rolagem**************************/
.fulltextpage ::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  -webkit-border-radius: 6px;
}
 
.fulltextpage ::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius: 0px;
}
 
.fulltextpage ::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 6px;
}
 
.fulltextpage ::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background-color: #666;
  -webkit-border-radius: 6px;
}

/************************* fim de mudar barra de rolagem**************************/


/************Estilo para o Container de Vídeo *****************/


.video-js .vjs-big-play-button {
    width: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    
}

/************Fim do Estilo para o Container de Vídeo *****************/



.btn-primary {
    color: #fff!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25)!important;
    background-color: #005aa8!important;
    background-image: -moz-linear-gradient(top, #0070a8, #0038a8)!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0070a8), to(#0038a8))!important;
    background-image: -webkit-linear-gradient(top, #0070a8, #0038a8)!important;
    background-image: -o-linear-gradient(top, #0070a8, #0038a8)!important;
    background-image: linear-gradient(to bottom, #0070a8, #0038a8)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0070a8', endColorstr='#ff0038a8', GradientType=0)!important;
    border-color: #0038a8 #0038a8 #001e5c!important;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)!important;
	padding: 0.5em!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #fff!important;
    background-color: #0696f8!important;
    background-image: linear-gradient(to bottom, #0696f8, #0696f8)!important;
}






/*===========================(  ESTILO RESPONSIVO  )============================*/
/*===========================(  ESTILO RESPONSIVO  )============================*/




/*=====(  Orientação Retrato  )=================================================*/


/*------largura até 600px na orientação retrato----*/
@media only screen and (max-width: 425px), screen and (orientation: portrait) {  
	
	header#page-header {
    display: none;
}
	
	#maincontent h2 {
    border: solid 1px red!important;
}
	
	#region-main>.card, #page-enrol-users #region-main>#filterform, .que #region-main>.history, .userprofile .profile_tree #region-main>section, #region-main>.groupinfobox, #region-main>.well {
    overflow: initial;
	}
	

	.card-body {
    padding: 0!important;
}
	
	section.agrupar {
    /*position: relative!important;*/
	top: 65px;
    /* border: solid 1px red!important; */
    width: 100%!important;
    margin: 0 auto!important;
    /*padding-bottom: 2.5em!important;*/
}
		

	.fulltextpage.coverpage {
    height: 560px;
}
	
	.path-mod-icontent .headercoverpage {
    padding: unset;
	}
	
	.path-mod-icontent .icontent-page .row {
    /*padding: 0 25%!important;*/
    text-align: center!important;
}


	
.path-mod-icontent .full-paging-buttonbar {
	display:none!important;
	
	
	
	}
	
	.path-mod-icontent .icontent-page .fulltextpage {
   /*padding: inherit!important;*/
  		/* min-height: inherit!important;*/
		 /*margin-top: 28%!important;*/
		padding: 16px 15px!important;
		
}
	
	

	
.path-mod-icontent .icontent-page .fulltextpage p {
    /*padding: 0 22px!important;*/
	text-indent: initial!important;
}	
	
	.path-mod-icontent .icontent-page .fulltextpage .toolbarpage {
    top: 0px!important;
    padding-right: 25px!important;
}

.path-mod-icontent .icontent-page .fulltextpage .toolbarpage .icon {
    color: rgba(17,119,209,.5)!important;
}
	
.toolbarpage .icon:hover {
    color: #add!important;
}
	

	.path-mod-icontent .icontent-page .fulltextpage h3.pagetitle{
		
		top:0!important;
				
		
	}
	
	.path-mod-icontent .headercoverpage, .path-mod-icontent .contentcoverpage {
		font-size: 0.8em!important;
    	width: 100%!important;
    }
	
	.path-mod-icontent .contentcoverpage {
	padding: 1em 0.5em!important;
    
}
	
		
	
/*----Área de texto na orientação retrato largura até 600px----*/

	
.page-layout.columns-1, .page-layout.columns-2, .page-layout.columns-3, .page-layout.columns-4, .page-layout.columns-5 {
    /* position: relative!important; */
    height: 415px!important;
    overflow: auto!important;
    z-index: 998!important;
}
	
	
	
	
	
	
	
	
/*----Fim da Área de texto na orientação retrato largura até 600px ----*/	
	
	
/*----Avançar e voltar na orientação retrato largura até 600px----*/		
	
	div#fgroup_id_buttonar {
    top: 325px!important;
    
}
	
/*----Fim de Avançar e voltar na orientação retrato largura até 600px----*/
	
	
	
	

	
.progress {
    display:none!important;
}	

/*----Numeração da página na orientação retrato largura até 600px----*/	
	
.path-mod-icontent .icontent-page .pagenum span {
    display: flex;
    position: absolute;
    padding: 5px 45px;
    font-size: 11px;
    top: 490px!important;
    text-align: center;
    left: 38.25%;
}
	
	
/*----Área de Perguntas na orientação retrato largura até 600px----*/
	
	div#idnotesarea {
		position:absolute!important;
    	min-width: 300px!important;
   		 z-index: 998!important;
    	/*left: 10px!important;*/
    	top: 580px!important;
}
	
		
	div#idfulltab {
    padding: 0.1em;
    border-radius: 0 0 20px 20px;
    /*width: 550px;*/
}	

div#idtabicontent {
    width: 100%!important;
}
	
	
	
	
.path-mod-icontent .icontent-page .notesarea .notelist .pagenoterow {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 0px 30px 6px!important;
}	
.path-mod-icontent .notesarea #note .fields span {
    margin-right: 1.0em;
}
	
/*----Fim da Área de Perguntas na orientação retrato largura até 600px----*/	
	
	
	#fgroup_id_buttonar .btn-previous-page, #fgroup_id_buttonar .btn-next-page {

    z-index: 999!important;
}

}/*------Fim da largura até 600px Retrato ----*/




/*------largura até 320px na orientação retrato----*/
@media only screen and (max-width: 320px), screen and (orientation: portrait) {  
	
	/*header#page-header {
    display: none;
}*/
	
	/*#maincontent h2 {
    border: solid 1px red!important;
}*/
	
	/*#region-main>.card, #page-enrol-users #region-main>#filterform, .que #region-main>.history, .userprofile .profile_tree #region-main>section, #region-main>.groupinfobox, #region-main>.well {
    overflow: initial;
	}*/
	

	/*.card-body {
    padding: 0!important;
}*/
	
	/*section.agrupar {
	border:solid 1px #5E00D3;
    position: absolute!important;
	top:0;
    width: 100%!important;
    margin: 0 auto!important;
    padding-bottom: 2.5em!important;
}*/
	
	div#idicontentpages {
    /*border: solid 1px green;*/
	position: relative;
    top: 0;
    width: 100%;
}	
	
	span#maincontent {
    display: none!important;
}

	.fulltextpage.coverpage {
    height: 560px;
}
	
	.path-mod-icontent .headercoverpage {
    padding: unset;
	}
	
	.path-mod-icontent .icontent-page .row {
    /*padding: 0 25%!important;*/
    text-align: center!important;
}


	
.path-mod-icontent .full-paging-buttonbar {
	display:none!important;
	
	
	
	}
	
	.path-mod-icontent .icontent-page .fulltextpage {
   /*padding: inherit!important;*/
  		 height: 640px!important;
		 /*margin-top: 28%!important;*/
		padding: 16px 15px!important;
		
}
	
	

	
.path-mod-icontent .icontent-page .fulltextpage p {
   padding: 0px 15px 0px 0px!important;
    font-size: 0.9em!important;
    line-height: 1.5em;
	
}	
	
	.path-mod-icontent .icontent-page .fulltextpage .toolbarpage {
	position:relative;
	top: -31px!important;
	padding: 0 25px 0 0;
    /*padding-right: 25px!important;*/
}

.path-mod-icontent .icontent-page .fulltextpage .toolbarpage .icon {
    font-size: 12px;
	}
	
.toolbarpage .icon:hover {
    color: #add!important;
}
	

	.path-mod-icontent .icontent-page .fulltextpage h3.pagetitle{
	position: relative;
    top: -21px!important;
	font-size: 16px!important;
		padding-top: 2px;
	}
	
	.path-mod-icontent .headercoverpage, .path-mod-icontent .contentcoverpage {
    width: 100%!important;
    }
	
	.path-mod-icontent .contentcoverpage {
	padding: 1em 0.5em!important;
    
}
	
		
	
/*----Área de texto na orientação retrato largura até 320px----*/

	
/*.page-layout.columns-1, .page-layout.columns-2, .page-layout.columns-3, .page-layout.columns-4, .page-layout.columns-5 {
    min-height: 421px!important;
    max-height: 422px!important;
    overflow: auto!important;
    z-index: 998!important;
}*/
	
	.page-layout.columns-1, .page-layout.columns-2, .page-layout.columns-3, .page-layout.columns-4, .page-layout.columns-5 {
		position: relative;
		top:-22px;
		width: 103%;
    -webkit-columns: auto!important;
    -moz-columns: auto!important;
    columns: auto!important;
    height: 445px!important;
    		overflow-x: hidden!important;
    /*overflow-y: -webkit-paged-y!important;
    overflow-x: hidden!important;*/
    z-index: 998!important;
		display: inline-block;
		image-resolution:snap!important;
		/*background-color: #ffffff5c;*/
}
	
.path-mod-icontent .icontent-page .fulltextpage {
      background-position: center!important;
}	
	
	
	
	
/*----Fim da Área de texto na orientação retrato largura até 320px ----*/	
	
	
/*----Avançar e voltar na orientação retrato largura até 320px----*/		
	
	div#fgroup_id_buttonar {
    top: 599px!important;
    
}
	
/*----Fim de Avançar e voltar na orientação retrato largura até 320px----*/
	
	
	
	

	
.progress {
    display:none!important;
}	
/*----Numeração da página na orientação retrato largura até 320px----*/	
	
.path-mod-icontent .icontent-page .pagenum span {
    display: flex;
    position: absolute;
    padding: 5px 45px;
    font-size: 11px;
    top: 545px!important;
    text-align: center;
    left: 26.25%;
}
	.path-mod-icontent .icontent-page .pagenum span em {
    font-style: normal;
		padding-left: 0.3em;
    font-size: 12px;
}
	
	
/*----Área de Perguntas na orientação retrato largura até 320px----*/
	
	div#idnotesarea {
		
    	/*min-width: 300px!important;
   		 z-index: 998!important;
    	left: 10px!important;*/
		position:relative!important;
		min-width: 240px!important;
    	top: 42px!important;
	}
	
		
	div#idfulltab {
    padding: 0.1em;
    border-radius: 0 0 20px 20px;
    /*width: 550px;*/
}	

div#idtabicontent {
    width: 100%!important;
}
	
	
	
	
.path-mod-icontent .icontent-page .notesarea .notelist .pagenoterow {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 0px 30px 6px!important;
}	
.path-mod-icontent .notesarea #note .fields span {
    margin-right: 1.0em;
}
	
/*----Fim da Área de Perguntas na orientação retrato largura até 320px----*/	
	
	
	#fgroup_id_buttonar .btn-previous-page, #fgroup_id_buttonar .btn-next-page {

    z-index: 999!important;
}

	
/*************************mudar barra de rolagem orientação retrato 320px**************************/
.fulltextpage ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
}
 
.fulltextpage ::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius: 0px;
}
 
.fulltextpage ::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 6px;
}
 
.fulltextpage ::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: #666;
  -webkit-border-radius: 6px;
}

/************************* fim de mudar barra de rolagem**************************/
	
	
	
	
	
	
	
}/*------Fim da largura até 320px Retrato ----*/



/*=====(  Orientação Paisagem  )=================================================*/


/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}


/*-------------------------------Fim da Orientação Paisagem----*/







/*------largura até 600px----*/
@media (min-width: 600px) and (orientation: landscape) {

	section.agrupar {
    /*border: solid 1px blue;*/
    width: 100%;
    margin: 0 auto;
}
	




}




/*-----------------------------Fim da Orientação Paisagem----*/




/*===========================(  FIM DO ESTILO RESPONSIVO  )============================*/
	
	
	

/*===========================(  ESTILO CROSSBROSER  )============================*/

<!--[if IE]> 

/*Internet Explorer 9-*/ 

button, input.form-submit, input[type='button'], input[type='submit'], input[type='reset'], #notice .singlebutton + .singlebutton 

input, .buttons.submit input[name='cancel']
{
background:transparent!important;
}

.full-paging-buttonbar button.btn-next-page.load-page{
top:0px;
}

.full-paging-buttonbar button.btn-previous-page.load-page{
top:0px;

}
#fgroup_id_buttonar .btn-next-page{
	background:transparent;
	
}
#fgroup_id_buttonar .btn-previous-page{
	background:transparent;
	
}

<![endif]-->

/*===========================(  ESTILO CROSSBROSER  )============================*/





